@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
    
    body {
        height: 100vh;
        margin: 0;
        display: grid;
        background-color: #232023;
    }

    .nav-logo{
        height: 50px;
        position: absolute;
        background-color: black;
        border-radius: 50%;
        justify-content: center;
    }

    .navbar-container{
        display: flex;
        gap: 12px;
        margin: 0;
        padding: 17px;
        align-items: center;
        justify-content: center;
        background-color: #E6C625;
        max-height: 40px;
        box-shadow: 0px 2px 5px black;
    }

    ul{
        display: flex;
        gap: 30px;
        font-size: 20px;
        list-style: none;
        filter: drop-shadow(2px 0px);
    }

    li{
        padding: 3px;
        background-color: #232023;
    }