@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
    
    body {
        height: 100vh;
        margin: 0;
        display: grid;
        background-color: #232023;
    }

    .nav-logo{
        height: 150px;
        position: relative;
        right: 250px
    }

    .navbar-container{
        display: flex;
        gap: 12px;
        margin: 0;
        padding: 12px;
        align-items: center;
        justify-content: center;
        background-color: #E6C625;
    }

    ul{
        display: flex;
        gap: 30px;
        font-size: 20px;
        list-style: none;
        border:solid black;
        border-radius: 12px 0px;
        padding: 3px;
    }